<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
  	<link href="{{ url_for('static', filename='CSS/aboutPage.css') }}" rel="stylesheet">
   	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../static/CSS/Images/Nujj_Logo.png">

    <meta name="viewport" content="user-scalable = no">
    
    <meta name="keywords" content="design, iOS, javascript, app, swift, objective-c, reciepts, accounts, Nujj" />
    <title>nujjReceipt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/google.js"></script>


  </head>

  
  <body>
      <div id="container">
      
            <header>
                <nav>
                    <ul>
                        <li id="notHomeButton"><a class="big" href="/aboutUs">About us</a></li>
                        <li id="homeButton"><a id="aHomeButton" href="/"><img src="../static/CSS/Images/NujjHigherTopBlack.png" id="icon" alt="Home"></a></li>
                    <li id="notHomeButton"><a class="big" href="/#ContactUs">Contact</a></li>
                    </ul>
                </nav>
            </header>
          
          <h1 id="topHeader">The Team</h1>
          
          <div class="directors">
              <div class="Charlie">
                <img src="../static/CSS/Images/Charlie.png">
                <h2>Charlie Hall</h2>
                <h3>CFO</h3>
              </div>
            
              <div class="Alex">
                <img src="../static/CSS/Images/Alex.png">
                <h2>Alexander Hewitt</h2>
                <h3>CEO</h3>
              </div>
              
              <div class="Ben">
                <img src="../static/CSS/Images/Ben.png">
                <h2>Ben Fongenie</h2>
                <h3>CBDO</h3>
              </div>
              
              <div class="Craig">
                <img src="../static/CSS/Images/Craig.png">
                <h2>Craig Blackmore</h2>
                <h3>CTO</h3>
              </div>
              

              </div>
          
          <br><br>
        <div class="Links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#ContactUs">Contact Us</a></li>
            </ul>
        </div>
        
<!--
        <br><br><hr/>
          
          
          
      
      <section>
  <ul id='services'>
      
    <li>
      <a href="mailto:info@nujjltd.com?" target="_top"><div class='entypo-mail' id="Email"></div></a>
      <span>E-mail</span>
    </li>
    
    <li>
        <a href="https://www.facebook.com/nujjltd/" target="_blank"><div class='entypo-facebook' id="Facebook"></div></a>
      <span>Facebook</span>
    </li>
    <li>
      <a href="https://twitter.com/nujjltd" target="_blank" ><div class='entypo-twitter' id="Twitter"></div></a>
      <span>Twitter</span>
    </li>
    <li>
      <a href="https://instagram.com/nujjltd/" target="_blank"><div class='entypo-instagrem' id="Instagram"></div></a>
      <span>Instagram</span>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/nujj-ltd" target="_blank"><div class='entypo-linkedin' id="Linkedin"></div></a>
      <span>LinkedIn</span>
    </li>
  </ul>
</section>
-->
      
      <div class="Footnote">
          <p>&copy; Nujj Ltd 2016 <a href="Terms_and_Conditions.html">Terms and Conditions</a></p>
      </div>
          
          
      
      
      
      
      
  </body>