<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
  	<link href="{{ url_for('static', filename='CSS/Index.css') }}" rel="stylesheet">
    <link rel="icon" href="../static/CSS/Images/Nujj_Logo.png">
   	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../static/CSS/Images/Nujj_Logo.png">
      
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="height=device-height">
    <meta name="viewport" content="user-scalable = yes">
    <meta name="apple-itunes-app" content="app-id=1057023005">
      
    <meta name="keywords" content="design, iOS, javascript, app, swift, objective-c, reciepts, accounts, Nujj, receipt, shopping, highstreet, app, iphone, application, tech, smartphone, android, appstore, google play, POS, proof of purchace, finances, returns, spending, nuj, nudge, cut on spending, spending tracker, costing" />
    <title>nujjReceipt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/smooth-scroll.js"></script>
    <script src="../static/js/google.js"></script>
      
  </head>

  
  <body>
    <div id="container">
        
        <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" poster="../static/CSS/Images/background_image.jpg">
                <source src="../static/Video/nujj_video.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="../static/Video/nujj_Video.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>  
            
            <header>
                <nav>
                    <ul>
                        <li id="notHomeButton"><a class="big" href="/aboutUs">About us</a></li>
                        <li id="homeButton"><a id="aHomeButton" href="/"><img src="../static/CSS/Images/NujjHigherTop.png" id="icon" alt="Home"></a></li>
                    <li id="notHomeButton"><a class="big" data-scroll href="#ContactUs">Contact</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="OurProducts">

                                    <p class="primary">All your receipts. In one place. On your phone.</p>



                                  <div class="pictures_inline">



                                    <div id="NujjReceipts"> 

                                      <div class="pictureContainer"><img class="main" src="../static/CSS/Images/New_Logo_Product.png"></div> 

                                        <p class="nujjReceipts"><b>nujjReceipt</b></p>
                                        <p id = "learn_more"></p>
                                        <p><a class="learn_more" data-scroll href="#anchor">Learn more</a></p>
                                        <p><a class="arrow" data-scroll href="#anchor"><img src="../static/CSS/Images/Arrow.png" style="width:60px;height:25px;padding-top:10px;"></a></p>

                                        </div>
                                    </div>

                                            

                                    </div>
            
        </div>
    </div>
        
         


    
    <div class="ReceiptsDescription">
        
        <div class = "upperDescription">
            
        <a id="anchor" style="display: block; position: relative; top: 20px; visibility: hidden;"></a>
        
        <p>

                                                Over 11 billion paper receipts are printed in the UK each year, <br> on thermal receipt paper that cannot be recycled. <br><br>
            
            <p>Here's our solution</p>


            <iframe class="help" width="560" height="315" src="https://www.youtube.com/embed/P1QS-myvKb4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><br><br><br>
        
        <p>We are currently working with stores to bring this service to you as soon as possible.<br><br>

Until then, you can download our app on iOS and Android, which lets you to turn paper receipts into digital ones and use them in store.</p>
        
                <a class="apple" class="help" href="https://geo.itunes.apple.com/gb/app/nujjreceipts/id1057023005?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a><br>

                <a class="android" class="help" href="https://play.google.com/store/apps/details?id=com.nujjltd.nujjreceipts">Android (beta)</a><br><br><br>
        </div>
        <!--
        <div class="Left">
            <h2>What is it?</h2>
            
            <p><b>nujjReceipt</b> is an app that gets rid of the pesky paper receipts cluttering up your wallets and purses.<br><br>
            We think paper receipts are annoying, so we came up with a way to turn them into a digital version on your phone that you can use in store when returning purchases.<br><br>
                The app notifies you when the returns period for your items is about to expire so you don't forget. <br><br>
                You can back up your <b>nujjReceipts</b> to your cloud service as well (iCloud/Google Drive), so you never lose a receipt again. <br><br>
                Your receipts, in one place, on your phone.</p>
            
        </div>
        <div class="Right">
            <h2>How Does it Work?</h2>
            
            <p> <b>Step 1</b> <br>
                Download the app by clicking on the links above.<br><br><br>

                <b>Step 2</b> <br>
                Add a receipt to the app by scanning and imaging your paper receipt.<br><br><br>

                <b>Step 3</b> <br>
                Use the receipt in store as proof of purchase when returning items.<br><br><br>

                That&#39s it! </p>
            
        </div>
    </div>
        <br><br>
        <div class="Links">
            <ul>
                <li><a href="/aboutUs">Our Team</a></li>
            </ul>
        </div>
        
        <br><br><hr/>
        
        -->

    <h1 id="ContactUs">Contact Us</h1>
        
        <section>
  <ul id='services'>
      
    <li>
      <a class="help" href="mailto:info@nujjltd.com?" target="_top"><div class='entypo-mail' id="Email"></div></a>
      <span>E-mail</span>
    </li>
    
    <li>
        <a class="help" href="https://www.facebook.com/nujjltd/" target="_blank"><div class='entypo-facebook' id="Facebook"></div></a>
      <span>Facebook</span>
    </li>
    <li>
      <a class="help" href="https://twitter.com/nujjltd" target="_blank" ><div class='entypo-twitter' id="Twitter"></div></a>
      <span>Twitter</span>
    </li>
    <li>
      <a class="help" href="https://instagram.com/nujjltd/" target="_blank"><div class='entypo-instagrem' id="Instagram"></div></a>
      <span>Instagram</span>
    </li>
    <li>
      <a class="help" href="https://www.linkedin.com/company/nujj-ltd" target="_blank"><div class='entypo-linkedin' id="Linkedin"></div></a>
      <span>LinkedIn</span>
    </li>
  </ul>
</section>
        

    </div>
      
      <div class="Footnote">
          <p>&copy; Nujj Ltd 2016 <a href="/TermsAndConditions">Terms and Conditions</a></p>
      </div>

    
    
    <script>smoothScroll.init();</script>
  </div>
    
  </body>
</html>

